@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
   
<SurveyPrompt Title="How is Blazor working for you?" />

 @foreach( var number in IdSites){
        <CardSite idsite=@number TitleSite=@Salvadorian UbicationSite="El Salvador" DescriptionSite="llena de agua" imageSite="proximamente"/>

    }

@code{  
    public string Salvadorian{get;set;}="Defaut Salvadorian";
    List<int> IdSites = new List<int>{1,2,3,4};
}

